.grid {
  padding: 1rem;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  grid-gap: 1rem; /* Safari */
  background-color: #ddd;
  position: relative; /* set containing block for tiles */
}

.cell {
  width: 6rem;
  height: 6rem;
  border-radius: .25rem;
  background-color: #bbb;
}
