.grid {
  width: 32rem;
  height: 32rem;
  padding: 1rem;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  background-color: #ddd;
}
